@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* screens */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1536px;
    --breakpoint-2xl: 1800px;

    /* fonts */
    --font-sans: 'Raleway', sans-serif;
    --font-opensans: 'Open Sans', sans-serif;

    /* colors */
    --color-dark-blue: hsl(217, 28%, 15%);
    --color-dark-blue1: hsl(218, 28%, 13%);
    --color-dark-blue2: hsl(216, 53%, 9%);
    --color-dark-blue3: hsl(219, 30%, 18%);
    --color-accent-cyan: hsl(176, 68%, 64%);
    --color-accent-blue: hsl(198, 60%, 60%);
    --color-light-red: hsl(0, 100%, 63%);

    /* spacing */
    --tracking-180: '32rem';

    /* background */
    --background-image-logo-dark-mode: url('assets/fylo/logo-dark-mode.svg');
    --background-image-logo-light-mode: url('assets/fylo/logo-light-mode.svg');
    --background-image-curvy-dark-mode: url('assets/fylo/bg-curvy-dark-mode.svg');
    --background-image-curvy-light-mode: url('assets/fylo/bg-curvy-light-mode.svg');
}

@layer base {
    :root, :host {
        --font-sans: 'Raleway', sans-serif;
    }
}
@layer components {
    .ficon:hover {
        filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
        brightness(105%) contrast(104%);
    }
}


