@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@theme {
    /* screens */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;
    --breakpoint-2xl: 1800px;

    /* colors */
    --font-sans: 'Josefin Sans', sans-serif;
    --font-alata: 'Alata';

    /* colors */
    --color-strong-cyan: hsl(171, 66%, 44%);
    --color-light-blue: hsl(233, 100%, 69%);
    --color-dark-grayish-blue: hsl(210, 10%, 33%);
    --color-grayish-blue: hsl(201, 11%, 66%);
}

@layer base {
    :root, :host {
        --font-sans: 'Josefin Sans', sans-serif;
    }
}

@media (max-width: 576px) {
    #hero {
        background-image: url('./assets/loopstudios/mobile/image-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@layer components {
    #hero {
        background-image: url('./assets/loopstudios/desktop/image-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

