@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* screens */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1020px;
    --breakpoint-xl: 1440px;
    --breakpoint-2xl: 1800px;

    /* fonts */
    --font-sans: 'Rubik', sans-serif;

    /* colors */
    --color-soft-blue: hsl(231, 69%, 60%);
    --color-soft-red: hsl(0, 94%, 66%);
    --color-grayish-blue: hsl(229, 8%, 60%);
    --color-very-dark-blue: hsl(229, 31%, 21%);

    /* spacing */
    --tracking-180: '32rem';

    /* background */
    --background-image-logo-dark-mode: url('assets/fylo/logo-dark-mode.svg');
    --background-image-logo-light-mode: url('assets/fylo/logo-light-mode.svg');
    --background-image-curvy-dark-mode: url('assets/fylo/bg-curvy-dark-mode.svg');
    --background-image-curvy-light-mode: url('assets/fylo/bg-curvy-light-mode.svg');
}

@layer base {
    :root, :host {
        --font-sans: 'Rubik', sans-serif;
    }
}

@layer components {

    .container {
        width: 100%;
    }

    @media (min-width: 480px) {
        .container {
            max-width: 480px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
    }

    @media (min-width: 1020px) {
        .container {
            max-width: 1020px;
        }
    }

    @media (min-width: 1440px) {
        .container {
            max-width: 1440px;
        }
    }
}


